.navbar-bar{
    font-weight: bolder;
    position:fixed;
    top:0;
    width:100%;
    z-index:1;
    background:black;
    text-align: center;
}
.navbar-list{
    margin: 0;
    padding: 0;
}
.nav-item{
    display:inline-block;
    padding: 20px 100px;
}
.nav-link{
    color:aliceblue;
}